dotbot/config/zsh/.zhistory
dotbot/config/zsh/.zcompdump
dotbot/config/retroarch/logs
dotbot/config/mpv/watch_later
dotbot/config/mpv/mpvHistory.log
dotbot/config/qBittorrent/lockfile
dotbot/config/qBittorrent/rss/storage.lock
**/__pycache__