[submodule "EasyEffects-Presets"]
	path = EasyEffects-Presets
	url = https://github.com/Digitalone1/EasyEffects-Presets
[submodule "EasyEffect-Preset"]
	path = EasyEffect-Preset
	url = https://github.com/EvoXCX/EasyEffect-Preset
