# add space after elevation to make the shell check the next command with aliases
alias sudo='sudo '
alias doas='doas '
alias ls='exa -l --group-directories-first'
alias v='nvim'
alias py='python'
alias man="man --pager 'nvim +Man!' "
alias hide="unset HISTFILE"

