# add space after elevation to make the shell check the next command with aliases
alias sudo='sudo '
alias doas='doas '
alias ls='exa -l --group-directories-first'
alias v='nvim'
alias c='chezmoi'
alias cv='chezmoi edit'
alias py='python'
alias man="man --pager 'nvim +Man!' "
alias update="paru;flatpak upgrade;sdkmanager --update;flutter upgrade" 
